<div id="page-container" class="sidebar-o enable-page-overlay side-scroll page-header-modern main-content-boxed">
    <!-- Side Overlay-->
    <app-aside ></app-aside>
    <!-- END Side Overlay -->

    <!-- Sidebar -->
    
    <!-- END Sidebar -->
    <app-navbar></app-navbar>
    <!-- Header -->
    <app-header></app-header>
    <!-- END Header -->

    <!-- Main Container -->
    <main id="main-container">
      <!-- Page Content -->
        <router-outlet></router-outlet>
      <!-- END Page Content -->
    </main>
    <!-- END Main Container -->

    <!-- Footer -->
    <app-footer></app-footer>
    <!-- END Footer -->
</div>