<div class="content">
    <!-- Heading -->
    <div class="block block-rounded">
      <div class="block-content block-content-full overflow-x-auto">
        <div class="py-3 text-center">
          <h1 class="h3 fw-extrabold mb-1 text-uppercase">
            Gestion des Catégories
          </h1>
          <h2 class="fs-sm fw-medium text-muted mb-0">
            Liste des catégories de produits
          </h2>
        </div>
      </div>
    </div>
    <!-- END Heading -->

    <!-- Dynamic Table with Export Buttons -->
    <div class="block block-rounded">
      <div class="block-header block-header-default">
        <h3 class="block-title text-uppercase">
          Liste des Catégories
        </h3>
        <div class="block-options">
          <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modal-fadein" (click)="openNewModal()">
            <i class="fa fa-plus me-1"></i> Nouvelle Catégorie
          </button>
        </div>
      </div>
      <div class="block-content block-content-full overflow-x-auto">
        <div *ngIf="isLoading" class="text-center py-3">
          <div class="spinner-border text-primary" role="status">
            <span class="visually-hidden">Chargement...</span>
          </div>
        </div>
        
        <!-- DataTables init on table by adding .js-dataTable-buttons class -->
        <table class="table table-bordered table-striped table-vcenter js-dataTable-buttons">
          <thead>
            <tr>
              <th>Nom</th>
              <th class="d-none d-sm-table-cell">Description</th>
              <th class="d-none d-sm-table-cell">Date de création</th>
              <th class="text-center" style="width: 15%;">Actions</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let categorie of categories">
              <td class="fw-semibold">{{ categorie.nom }}</td>
              <td class="d-none d-sm-table-cell">{{ categorie.description || 'Non définie' }}</td>
              <td class="d-none d-sm-table-cell">{{ categorie.created_at | date:'dd/MM/yyyy' }}</td>
              <td class="text-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-alt-info me-2" data-bs-toggle="tooltip" title="visualiser" (click)="openViewCategorie(categorie)">
                    <i class="fa fa-eye"></i>
                  </button>
                  <button type="button" class="btn btn-sm btn-alt-success me-2" data-bs-toggle="tooltip" title="Modifier" (click)="openEditCategorie(categorie)">
                    <i class="fa fa-pencil-alt"></i>
                  </button>
                  <button type="button" class="btn btn-sm btn-alt-danger" data-bs-toggle="tooltip" title="Supprimer">
                    <i class="fa fa-trash"></i>
                  </button>
                </div>
              </td>
            </tr>
            <tr *ngIf="categories.length === 0 && !isLoading">
              <td colspan="5" class="text-center">Aucune catégorie trouvée</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <!-- Modal pour ajouter une nouvelle catégorie -->
  <div class="modal fade modal-lg" id="modal-fadein" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="block block-rounded shadow-none mb-0">
          <div class="block-header block-header-default">
            <h3 class="block-title">{{ titleModal }}</h3>
            <div class="block-options">
              <button type="button" class="btn-block-option" data-bs-dismiss="modal" aria-label="Close">
                <i class="fa fa-times"></i>
              </button>
            </div>
          </div>
          <form novalidate [formGroup]="categorieForm" (ngSubmit)="saveOrUpdateCategorie()">
            <div class="block-content fs-sm">
              <div class="mb-4">
                <label class="form-label" for="nom">Nom</label>
                <input type="text" class="form-control" id="nom" placeholder="Nom de la catégorie" formControlName="nom" [ngClass]="{'is-invalid': isSubmitted && f['nom'].errors}">
                @if (isSubmitted && f['nom'].errors) {
                  <div class="invalid-feedback">
                    @if (f['nom'].errors['required']) {
                      <div>Le nom est obligatoire</div>
                    }
                  </div>
                }
              </div>
              <div class="mb-4">
                <label class="form-label" for="description">Description</label>
                <textarea class="form-control" id="description" rows="5" placeholder="Description de la catégorie" formControlName="description" [ngClass]="{'is-invalid': isSubmitted && f['description'].errors}"></textarea>
                @if (isSubmitted && f['description'].errors) {
                  <div class="invalid-feedback">
                    @if (f['description'].errors['required']) {
                      <div>La description est obligatoire</div>
                    }
                  </div>
                }
              </div>
            </div>
            <div class="block-content block-content-full block-content-sm text-end border-top">
              <button type="submit" class="btn btn-alt-primary jq-notify me-2">
                <i [class]="icon"></i> {{ buttonText }}
              </button>
              <button type="button" class="btn btn-alt-warning" data-bs-dismiss="modal">
                <i class="fa fa-times"></i> Annuler
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>  